.SignIn {
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
    height: 50vh;
    width: 50vw;
}

.trainContainer {
    width: 100%;
    margin-top: 50px;
}

.MuiOutlinedInput-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px #2C2C2C inset !important;
}